<!DOCTYPE html>
<html>
  <head>
    <title>jobTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>

  <div>
     <%= render 'shared/navbar' %>
  </div>
  <div>
      <%= render 'shared/sidenav' %> <!--sorry, still working on this-->
  </div>

  <div>
      <%= render 'shared/cards' %>
  </div>


    <script>
      let myChart = document.getElementById('myChart').getContext('2d');

      let massPopChart = new Chart(myChart, {
        type:'bar', //types: bar, horizontal, pie, line, donut
        data: {
          labels:['Salt Lake City', 'Ogden', 'Farmington'],
          datasets: [{
            label:'Utah population',
            data: [
              186440,
              82825,
              18275
            ],
            backgroundColor: 'blue'
          }]
        },
        options:[]
      });
    </script>
  </body>
  <%= render 'shared/footer' %>
</html>
